.category__item {
  background: #dcc6aa;
  padding: 30px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}

.category__item:hover {
  transform: translateY(-15px);
}

@media only screen and (max-width: 768px) {
  .category__item {
    padding: 20px 15px;
  }
  .category__img img {
    max-width: 100%; /* Adjust to fit container */
    height: auto; /* Maintain aspect ratio */
  }

  .category__item h6 {
    font-size: 0.8rem;
  }
}

/* For larger screens like computers */
@media only screen and (min-width: 769px) {
  .category__img img {
    width: 80px; /* Adjust width as needed */
    height: 80px; /* Adjust height as needed */
  }

  .category__item h6 {
    font-size: 1rem; /* Adjust font size as needed */
  }
}
